.user {
  clear: both;
}

.user__setting {
  float: right;
  background: $main-color2;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: $font-color2;
}

.section {

  padding-top: 60px;
  padding-bottom: 60px;

  &--odd {
    background: #fbfbfb;
  }
}

.user__picture {
  vertical-align: top;
  display: block;
  text-align: center;

   @include tablet {
     display: inline-block;
     max-width: 30%;
   }
  a {
    display: inline-block;
  }
  img {
    border: 1px solid $main-color3;
    max-width: 100%;
  }
}

.user__name {
  font-size: 36px;
  margin-bottom: 30px;
}

.user__base-info {
  margin-top: 20px;


  @include tablet {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 69%;
    padding-left: 60px;
  }


}

.user__field, .user .field {
  font-size: 30px;
  line-height: 1.6;
  padding: 5px 0;
}

.user__field-label, .user .field-label {
  font-family: $font-family-secondary;
  font-weight: normal;
}

.user__field-value, .user .field-items {
  font-family: $font-family-main;

  .field-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 5px;
      &::after {
        content: ",";
      }
    }

  }
}



