#user-profile-form {


  .form-item {
    padding: 10px 0;
  }

  .description {
    font-size: 18px;
  }

  label, legend {
    font-size: 20px;
    font-weight: bold;
  }

  label {
    width: 180px;
    display: inline-block;
  }



  .confirm-parent, .password-parent {
    width: auto;
  }

  .password-strength, .password-confirm {
    margin-top: 0;
    width: 12em;
  }

  input, .password-confirm.form-text {
    font-size: 20px;
    width: 300px;
  }

  .password-suggestions ul {
    padding-left: 20px;
  }

  fieldset, textarea, input {
    border: 1px solid $main-color2;
    padding: 10px;
  }

  input[type="file"] {
    border: 0;
  }





  .field-name-field-user-birthday {
    label {
      width: 70px;
    }
  }

  .field-name-field-user-tosdate {
    display: none;
  }

  textarea, fieldset {
    width: 100%;
  }


  input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    width: auto;
  }

  .form-type-radios .form-item, .form-type-checkboxes .form-item {
    display: inline-block;
    vertical-align: top;

    label {
      width: 80px;
    }
  }

}