
/*.privatemsg-message {*/
  /*width: 100%;*/
  /*max-width: 1000px;*/
/*}*/

/*.privatemsg-author-avatar {*/
  /*float: left;*/
  /*width: 20%;*/
  /*padding-top: 2px;*/
  /*text-align: center;*/
/*}*/

/*.privatemsg-message-column {*/
  /*float: right;*/
  /*overflow: visible;*/
  /*width: 78%;*/
  /*margin-bottom: 10px;*/
/*}*/

/*div.privatemsg-message-information {*/
  /*border-bottom: 1px solid #C5C5C5;*/
  /*width: 100%;*/
  /*margin-bottom: 5px;*/
/*}*/

/*.privatemsg-author-name {*/
  /*font-weight: bold;*/
  /*padding-right: 1em;*/
  /*font-size: 80%;*/
/*}*/
/*.privatemsg-message-date {*/
  /*color: #777777;*/
  /*padding-right: 1em;*/
  /*font-size: 80%;*/
/*} */
/*.privatemsg-message-body {*/
  /*padding : 0;*/
  /*overflow : visible;*/
  /*margin-left: 10px;*/
/*}*/

/*.privatemsg-view-pager {*/
  /*margin: 20px 0 20px 0;*/
  /*padding-left: 0;*/
  /*max-width: 300px;*/
/*}*/

/*div.privatemsg-message ul.privatemsg-message-actions {*/
  /*padding: 0;*/
/*}*/

/*p.privatemsg-token-notice {*/
  /*font-size: 80%;*/
  /*font-style: italic;*/
/*}*/

/*span.privatemsg-token-invalid {*/
  /*color: red;*/
/*}*/

/*span.privatemsg-token-valid {*/
  /*font-weight: bold;*/
/*}*/

/*span.privatemsg-message-new {*/
  /*float: right;*/
  /*font-size: 80%;*/
  /*font-weight:bold;*/
/*}*/