html, body {
  overflow-x: hidden;
}

[type="submit"] {
  cursor: pointer;
}

.region-navigation {
  &.fix {
    z-index: 10;
  }
}

.view-amusements {
  min-height: 600px;
  margin-bottom: 45px;
  .view-content {
    clear: both;
    padding-top: 25px;
  }
  .views-row {
    overflow: hidden;
    padding-bottom: 25px;
  }
  .views-field-field-amusement-park-image {
    width: 16.66667%;
    float: left;
  }
  .item-wrap {
    width: 83.33333%;
    float: left;
  }
  .title-wrap {
    position: relative;
    background-color: #fbfafa;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
  }
  .title {
    a {
      font-size: 24px;
      font-family: $calibri;
      font-weight: 600;
      color: #000;
      text-decoration: none;
    }
  }
  .like {
    background: url("../images/like-n.png") no-repeat center;
    width: 120px;
    height: 33px;
    color: transparent;
    font-size: 0 !important;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  .button {
    margin-top: 15px;
    margin-bottom: 5px;
    a.colorbox-load {
      //font-size: 22px;
      display: block;
      max-width: 240px;
      width: 100%;
      color: #272626;
      background-color: #ffd034;
      text-decoration: none;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .pager-load-more {
    margin-top: 25px;
    text-align: center;
    li {
      list-style: none;
    }
    a {
      padding-top: 5px;
      padding-bottom: 5px;
      color: #fff;
      display: block;
      width: 240px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      text-decoration: none;
      background-color: #ff4c3b;
    }
  }
  [data-like="Dislike"] {
    .like {
      background-image: url("../images/like-dislike.png");
    }
  }
  [data-like="Like"] {
    .like {
      background-image: url("../images/like-like.png");
    }
  }
  //[data-like=""] {
  //  .like {
  //    background-image: url("../images/like-like.png");
  //  }
  //}
}

.view-riders {
  .views-field-picture {
    width: 16.66667%;
    float: left;
  }
}

[value="Proceed to paypal.com"] {
  border: 1px solid #BFBFBF;
  border-radius: 3px;
  background: url("../images/paypal.svg") #eee no-repeat 160px center;
  background-size: 70px auto;
  color: #000;
  cursor: pointer;
  padding: 10px 100px 10px 15px;
}

.block-lm-paypal-subscriptions {
  margin-bottom: 15px;
  p {
    font-size: 23px;
    font-family: $calibri;
    margin-top: 10px;
    margin-bottom: 10px;
    &:empty {
      display: none;
    }
  }
}

.page-amusements, .page-riders, .page-search {
  .view-filters {
    position: relative;
    &:before, &:after {
      content: '';
      width: 2000px;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: #F2F0F0;
    }
    &:before {
      left: -2000px;
    }
    &:after {
      right: -2000px;
    }
    form {
      float: left;
      width: 30%;
    }
    .title-filter {
      border-bottom: none !important;
    }
    .form {
      background-color: #F2F0F0;
      @include clearFix;
      > span {
        display: block;
        color: #272626;
        font-size: 30px;
        font-family: $calibri;
        border-bottom: 1px solid;
        float: left;
      }
    }
    .label-filter {
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .title-filter {
      background: url("../images/a-down.png") no-repeat 245px center;
      cursor: pointer;
      padding: 10px 30px 10px 20px;
      &.active {
        box-shadow: 0 7px 21px 0 rgba(0, 0, 0, .43);
      }
    }
    #edit-field-amusement-park-tid-wrapper {
      display: none;
      position: absolute;
      top: 57px;
      left: 50px;
      z-index: 1;
      float: none;
      padding: 20px 15px 20px 20px !important;
      border: 1px solid #c4c4c4;
      background-color: #fff;
      border-radius: 10px;
      width: 440px;
      box-sizing: border-box;
      > div {
        height: 580px;
      }
    }
    .views-submit-button {
      position: absolute;
      right: 10px;
      top: 10px;
      input {
        margin-top: 0;
      }
    }
    .bef-tree {
      list-style: none;
      ul {
        list-style: none;
      }
      > li {
        > div {
          input {
            display: none;
          }
          label {
            display: block;
            width: 97%;
            font-size: 26px;
            font-family: $calibri;
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .views-exposed-widget {
      float: none;
      padding: 0;
    }

    .bef-tree-child {
      .form-type-bef-checkbox {
        margin-top: 8px;
        margin-bottom: 8px;
        input {
          display: none;
        }
        label {
          display: block;
          padding-left: 30px;
          background: url("../images/label-icon.png") no-repeat left center;
        }
        &.active {
          label {
            background-image: url("../images/label-icon-active.png");
          }
        }
      }
    }
    [name="type_1"] {
      background: url("../images/a-down.png") no-repeat 123px center;
      padding: 10px 20px;
      color: #272626;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      background-color: transparent;
      font-size: 30px;
      font-family: $calibri;
    }
    .views-exposed-widgets {
      margin-bottom: 0;
    }
  }
}

#views-exposed-form-amusements-page {
  [type="submit"] {
    color: #272626;
    font-size: 30px;
    font-family: $calibri;
    border: none;
    background-color: transparent;
  }
}

.nicescroll-rails {
  cursor: pointer !important;
}

.page-amusements {
  #colorbox {
    .page-width {
      padding: 20px 5px !important;
    }
    textarea {
      color: #333;
      border: 1px solid #333;
      border-radius: 5px;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
    ::-webkit-input-placeholder {
      color: #333;
    }
    ::-moz-placeholder {
      color: #333;
    }
    :-moz-placeholder {
      color: #333;
    }
    :-ms-input-placeholder {
      color: #333;
    }
    .form-type-textarea {
      label {
        display: none;
      }
    }
    .form-radios {
      padding-top: 15px;
      padding-bottom: 15px;
      @include flexbox;
      > div {
        display: inline-block;
        vertical-align: middle;
        &:first-child {
          @include order(3);
        }
        &:nth-child(2) {
          @include order(2);
        }
        &:last-child {
          @include order(1);
        }
        &.active {
          [for="edit-action-1"] { // Dislike
            background-image: url("../images/dislike-ac.png");
          }
          [for="edit-action-0"] { // Neutral
            background-image: url("../images/dislike-a.png");
          }
          [for="edit-action-1--2"] { // Like
            background-image: url("../images/like-a.png");
          }
        }
      }
      label {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        color: transparent;
        font-size: 0 !important;
        cursor: pointer;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 98% auto;
      }
    }
    [type="radio"] {
      display: none;
    }
    [for="edit-action-1"] { // Dislike
      background-image: url("../images/dislike.png");
    }
    [for="edit-action-0"] { // Neutral
      background-image: url("../images/neutral.png");
      &:hover {
        background-image: url("../images/dislike-a.png");
      }
    }
    [for="edit-action-1--2"] { // Like
      background-image: url("../images/like.png");
      &:hover {
        background-image: url("../images/like-a.png");
      }
    }
    [type="submit"] {
      border-radius: 5px;
      margin-top: 10px;
      border: 1px solid #333;
      padding: 8px 25px;
    }
  }
  #cboxLoadedContent {
    margin-bottom: 0 !important;
  }
}
