html, body {
  overflow-x: hidden;
}

[type="submit"] {
  cursor: pointer;
}

.header-wrap {
  z-index: 9;
}

.region-navigation {
  &.fix {
    z-index: 10;
  }
}

#block-system-main-menu,
#block-menu-menu-front-menu {
  @include container;
  padding-left: 10px;
  padding-right: 10px;
}

#block-system-main-menu {
  .menu {
    @include flexbox;
    @include justify-content(center);
  }
}

.view-amusements {
  min-height: 600px;
  margin-bottom: 45px;
  .view-content {
    @include clearFix;
    clear: both;
    padding-top: 25px;
  }
  .views-row {
    overflow: hidden;
    padding-bottom: 25px;

  }
  .views-field-field-amusement-park-image {
    @include span(2);
  }
  .item-wrap {
    @include span(10);
    &[private-comment=""], &[private-comment="0"] {
      background: url("../images/private-comment.png") no-repeat 98% 80%;
    }
    &[private-comment="1"] {
      background: url("../images/private-comment-active.png") no-repeat 98% 80%;
    }
  }
  .title-wrap {
    position: relative;
    background-color: #fbfafa;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    section {
      @include flexbox;
      @include justify-content(space-between);
    }
  }
  .title {
    a {
      font-size: 24px;
      font-family: $calibri;
      font-weight: 600;
      color: #000;
      text-decoration: none;
    }
  }
  .like {
    background: url("../images/like-n.png") no-repeat center;
    width: 120px;
    height: 33px;
    color: transparent;
    font-size: 0 !important;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  .button {
    margin-top: 15px;
    margin-bottom: 5px;
    a.colorbox-load {
      //font-size: 22px;
      display: block;
      max-width: 240px;
      width: 100%;
      color: #272626;
      background-color: #ffd034;
      text-decoration: none;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .pager-load-more {
    margin-top: 25px;
    text-align: center;
    li {
      list-style: none;
    }
    a {
      padding-top: 5px;
      padding-bottom: 5px;
      color: #fff;
      display: block;
      width: 240px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      text-decoration: none;
      background-color: #ff4c3b;
    }
  }
  [data-like="Dislike"] {
    .like {
      background-image: url("../images/like-dislike.png");
    }
  }
  [data-like="Like"] {
    .like {
      background-image: url("../images/like-like.png");
    }
  }

  .views-widget-filter-type_1 {
    &.active {
      .views-widget {
        display: block;
      }
    }
    > label {
      background: url("../images/a-down.png") no-repeat 120px center;
      display: block;
      cursor: pointer;
      color: #272626;
      font-size: 30px;
      font-weight: 500;
      font-family: $calibri;
      padding: 10px 32px 10px 20px;
      transition: box-shadow 0.3s ease-in-out;
      &.active,
      &:hover {
        box-shadow: 0 7px 21px 0 rgba(0, 0, 0, 0.43);
      }
    }
    .views-widget {
      display: none;
      margin-left: -30px;
      background-color: #fff;
      padding: 20px 40px 20px 20px;
      border: 1px solid #c4c4c4;
      border-radius: 10px;
      box-sizing: border-box;
      transition: all 2s linear;
      position: absolute;
      z-index: 1;
    }
    .bef-toggle {
      background: url("../images/label-icon.png") no-repeat left center;
      padding-left: 28px;
      display: block;
      margin-bottom: 5px;
      color: #272626;
      cursor: pointer;
      font-size: 26px;
      font-weight: 600;
      font-family: $CalibriLight;
      text-decoration: none;
      &.active {
        background-image: url("../images/label-icon-active.png");
      }
    }
    .bef-checkboxes {
      margin-top: 5px;
      input {
        display: none;
      }
      label {
        background: url("../images/label-icon.png") no-repeat left center;
        padding-left: 28px;
        display: block;
        color: #272626;
        cursor: pointer;
        font-size: 26px;
        font-family: $CalibriLight;
        &.active {
          background-image: url("../images/label-icon-active.png");
        }
      }
      > div {
        margin-bottom: 4px;
        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }

}

.view-riders {
  .views-field-picture {
    @include span(2);
  }
}

[value="Proceed to paypal.com"] {
  border: 1px solid #BFBFBF;
  border-radius: 3px;
  background: url("../images/paypal.svg") #eee no-repeat 160px center;
  background-size: 70px auto;
  color: #000;
  cursor: pointer;
  padding: 10px 100px 10px 15px;
}

.block-lm-paypal-subscriptions {
  margin-bottom: 15px;
  p {
    font-size: 23px;
    font-family: $calibri;
    margin-top: 10px;
    margin-bottom: 10px;
    &:empty {
      display: none;
    }
  }
}

.page-amusements, .page-riders, .page-search {
  .view-filters {
    position: relative;
    &:before, &:after {
      content: '';
      width: 2000px;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: #F2F0F0;
    }
    &:before {
      left: -2000px;
    }
    &:after {
      right: -2000px;
    }
    form {
      float: left;
      //width: 30%;
    }
    .title-filter {
      border-bottom: none !important;
    }
    .form {
      background-color: #F2F0F0;
      @include clearFix;
      > span {
        display: block;
        color: #272626;
        font-size: 30px;
        font-family: $calibri;
        border-bottom: 1px solid;
        float: left;
      }
    }
    .label-filter {
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .title-filter {
      background: url("../images/a-down.png") no-repeat 245px center;
      cursor: pointer;
      padding: 10px 30px 10px 20px;
      &.active {
        box-shadow: 0 7px 21px 0 rgba(0, 0, 0, .43);
      }
    }
    #edit-field-amusement-park-tid-wrapper {
      display: none;
      position: absolute;
      top: 57px;
      left: 50px;
      z-index: 1;
      float: none;
      padding: 20px 15px 20px 20px !important;
      border: 1px solid #c4c4c4;
      background-color: #fff;
      border-radius: 10px;
      width: 440px;
      box-sizing: border-box;
      > div {
        max-height: 580px;
        height: 100%;
      }
    }
    .views-submit-button {
      position: absolute;
      right: 10px;
      top: 10px;
      input {
        margin-top: 0;
      }
    }
    .bef-tree {
      list-style: none;
      ul {
        list-style: none;
      }
      > li {
        > div {
          input {
            display: none;
          }
          label {
            display: block;
            width: 97%;
            font-size: 26px;
            font-family: $calibri;
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .views-exposed-widget {
      float: none;
      padding: 0;
    }

    .bef-tree-child {
      .form-type-bef-checkbox {
        margin-top: 8px;
        margin-bottom: 8px;
        input {
          display: none;
        }
        label {
          display: block;
          padding-left: 30px;
          background: url("../images/label-icon.png") no-repeat left center;
        }
        &.active {
          label {
            background-image: url("../images/label-icon-active.png");
          }
        }
      }
    }
    [name="type_1"],
    [name="field_user_gender_tid"],
    [name="field_user_genderlook_tid"] {
      background: url("../images/a-down.png") no-repeat 123px center;
      padding: 10px 20px;
      color: #272626;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      background-color: transparent;
      font-size: 30px;
      font-family: $calibri;
    }
    .views-exposed-widgets {
      margin-bottom: 0;
    }
  }
}

#views-exposed-form-amusements-page {
  [type="submit"] {
    color: #272626;
    font-size: 30px;
    font-family: $calibri;
    border: none;
    background-color: transparent;
  }
  .views-widget-filter-field_amusement_park_tid {
    .bef-toggle {
      &:before {
        background: url("../images/label-icon.png") no-repeat left center;
        padding-left: 28px;
      }
      &.active {
        &:before {
          background-image: url("../images/label-icon-active.png");
        }
      }
    }
  }

  .bef-toggle {
    position: relative;
    color: transparent;
    font-size: 0 !important;
    &:before {
      color: #272626;
      font-size: 18px;
      font-family: $calibri;
      content: 'Show All';
    }
  }
  .form-type-bef-checkbox {
    &.active {
      label {
        background-image: url("../images/label-icon-active.png");
      }
    }
  }
  .bef-tree > li > div label {
    background-image: none !important;
  }
}

.nicescroll-rails {
  cursor: pointer !important;
}

.page-amusements, .page-search, .page-riders {
  #colorbox {
    .page-width {
      padding: 20px 5px !important;
    }
    textarea {
      color: #333;
      border: 1px solid #333;
      border-radius: 5px;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
    ::-webkit-input-placeholder {
      color: #333;
    }
    ::-moz-placeholder {
      color: #333;
    }
    :-moz-placeholder {
      color: #333;
    }
    :-ms-input-placeholder {
      color: #333;
    }
    .form-type-textarea {
      label {
        display: none;
      }
    }
    .form-radios {
      padding-top: 15px;
      padding-bottom: 15px;
      @include flexbox;
      > div {
        display: inline-block;
        vertical-align: middle;
        &:first-child {
          @include order(3);
        }
        &:nth-child(2) {
          @include order(2);
        }
        &:last-child {
          @include order(1);
        }
        &.active {
          [for="edit-action-1"] { // Dislike
            background-image: url("../images/dislike-ac.png");
          }
          [for="edit-action-0"] { // Neutral
            background-image: url("../images/dislike-a.png");
          }
          [for="edit-action-1--2"] { // Like
            background-image: url("../images/like-a.png");
          }
        }
      }
      label {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        color: transparent;
        font-size: 0 !important;
        cursor: pointer;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 98% auto;
      }
    }
    [type="radio"] {
      display: none;
    }
    [for="edit-action-1"] { // Dislike
      background-image: url("../images/dislike.png");
    }
    [for="edit-action-0"] { // Neutral
      background-image: url("../images/neutral.png");
      &:hover {
        background-image: url("../images/dislike-a.png");
      }
    }
    [for="edit-action-1--2"] { // Like
      background-image: url("../images/like.png");
      &:hover {
        background-image: url("../images/like-a.png");
      }
    }
    [type="submit"] {
      border-radius: 5px;
      margin-top: 10px;
      border: 1px solid #333;
      padding: 8px 25px;
    }
  }
  #cboxLoadedContent {
    margin-bottom: 0 !important;
  }
}

.clear-filters {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 180px;
  background-color: #FFD034;
  transition: background-color 500ms linear;
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  &:hover {
    color: lighten(#000, 20%);
    background-color: darken(#FFD034, 15%);
  }
}

.region-navigation {
  > div {
    margin-top: 1px;
  }
  .menu {
    font-size: 0;
  }
}

ul.pager {
  font-size: 0;
  text-align: center;
  li {
    font-size: 14px;
    list-style: none;
    display: inline-block;
  }
  a {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 15px;
    color: #272626;
    background-color: #FFD034;
    text-decoration: none;
    font-weight: bold;
  }
  .ajax-progress {
    display: none !important;
    font-size: 0 !important;
  }
}

#edit-field-amusement-park-tid-wrapper {
  label {
    &.active {
      background-image: url("../images/label-icon-active.png");
    }
  }
}

a#home {
  cursor: pointer;
}

.footer-wrap {
  width: 100%;
  @include clearFix;
}

.main-wrap {
  max-height: 800px;
  height: 100%;
  overflow: hidden;
}

.logged-in {
  li.first-item {
    display: none !important;
  }
}

.menu__link {
  &[href="/user"] {
    text-transform: capitalize;
  }
}

#block-system-user-menu {
  margin-top: 20px;
  .menu__item {
    margin-left: 15px;
  }
}

#block-menu-menu-front-menu {
  .menu__link {
    &.scroll-active {
      background-color: #FFD034;
      color: #272626;
    }
  }
}