.communications-main-wrap {
  max-width: 1220px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.communications-wrap {
  @include clearFix;
  width: 100%;
  padding-top: 105px;
  position: relative;
  @include flexbox;
  * {
    box-sizing: border-box;
  }
  [type="checkbox"] {
    display: none;
  }
  .text-format-wrapper {
    > fieldset {
      display: none;
    }
  }
  fieldset {
    &.collapsible {
      display: none;
    }
  }
  .privatemsg-message {
    @include clearFix;
  }
  #privatemsg-filter-tags {
    display: none;
  }
}

.communications-users {
  max-width: 450px;
  width: 100%;
  .filter-select {
    position: absolute;
    top: 0;
    left: 0;
    > div {
      position: relative;
      &:before, &:after {
        content: '';
        background-color: #f2f0f0;
        position: absolute;
        top: 0;
        width: 2000px;
        height: 59px;
      }
      &:before {
        left: 25%;
      }
      &:after {
        right: 25%;
      }
    }
  }
  .form-item-mess-fltr {
    position: relative;
    z-index: 1;
    padding-top: 9px;
    label {
      color: #717070;
      font-size: 30px;
    }
  }
  [name="mess_fltr"] {
    border: 1px solid #cecccc;
    background: url("../images/a-down.png") #fff no-repeat 95% center;
    margin-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #717070;
    font-size: 24px;
    font-family: $CalibriLight;
    padding: 4px 35px 4px 15px;
  }
}

#communications-form {
  @include flex(1);
  padding-left: 25px;
  padding-bottom: 50px;
  h2.privatemsg-reply {
    display: none;
  }
  .form-type-textarea {
    label {
      position: absolute;
      right: 9px;
      top: 4px;
      cursor: pointer;
      z-index: 1;
      display: block;
      color: transparent;
      font-size: 0 !important;
      width: 20px;
      height: 30px;
      background: url("../images/clip.svg") no-repeat center;
      background-size: 100% auto;
    }
  }
  form {
    @include clearFix;
    border-top: 1px solid #dcdcdc;
    padding-top: 15px;
    position: relative;
    margin-top: 30px;
    .field-name-field-file-attached {
      position: absolute;
      right: 0;
      top: 0;
    }
    .image-widget-data {
      .file, .file-size {
        display: none;
      }
    }
    .description {
      display: none;
    }
    [type="file"] {
      display: none;
    }
    .form-actions {
      [type="submit"] {
        text-align: center;
        padding: 10px 40px;
        color: #272626;
        font-size: 17px;
        border: none;
        border-radius: 5px;
        background-color: #ffd034;
        transition: color .5s, background-color .5s;
        &:hover {
          color: darken(#272626, 15%);
          background-color: darken(#ffd034, 15%);
        }
      }
    }
    div.image-preview {
      float: none;
      padding: 0;
    }
  }
  .text-format-wrapper {
    position: relative;
    @media (min-width: 1099px) {
      width: 81%;
    }
    @media (max-width: 1098px) {
      width: 72%;
    }
  }
}

.privatemsg-message-information {
  border-bottom: none;
}

#add-func-communications-form {
  .form-type-checkbox {
    @include clearFix;
    .user-row {
      display: block;
      cursor: pointer;
      padding: 25px;
      transition: background-color 500ms linear;
      overflow: hidden;
      &.active, &:hover {
        background-color: #ffd034;
      }
    }
  }
  .info {
    position: relative;
    &:before {
      content: '';
      background: url("../images/online.png") no-repeat center;
      width: 17px;
      height: 18px;
      position: absolute;
      top: 6px;
      left: -3px;
    }
  }
  .avatarka {
    background-color: #e8e8e8;
    position: relative;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    img {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: auto;
    }
  }
  .info {
    padding-top: 10px;
  }
  .name-date {
    color: #272626;
    font-size: 20px;
    font-weight: bold;
    span {
      color: #9c9797;
      font-size: 18px;
      font-weight: 300;
      font-family: $CalibriLight;
      padding-left: 13px;
    }
  }
}

.ajax-progress-throbber {
  display: none !important;
  font-size: 0 !important;
}

.privatemsg-message-participants {
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  a {
    color: #000;
    text-decoration: none;
  }
}

.privatemsg-message {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
  img {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    max-width: 430px;
    height: auto;
  }
}

.privatemsg-message-actions {
  position: absolute;
  right: 0;
  bottom: 0;
  list-style: none;
}

.privatemsg-author-avatar {
  @include span(1.9);
  position: relative;
  &:before {
    content: '';
    background: url("../images/online.png") no-repeat center;
    width: 17px;
    height: 18px;
    position: absolute;
    top: 6px;
    left: -3px;
    z-index: 2;
  }
  .user__picture {
    background-color: #e8e8e8;
    position: relative;
    max-width: unset;
    display: block;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 100%;
    img {
      border: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.privatemsg-message-date {
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 0;
  color: #a8a7a7;
  font-size: 14px;
}

.privatemsg-message-column {
  @include span(10.1);
  .privatemsg-message-body {
    padding-right: 13%;
    word-break: break-all;
  }
}

.privatemsg-message-body {
  p {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cke_top {
  position: relative !important;
  border-bottom: none !important;
  background-color: transparent !important;
  padding: 0 !important;
  .cke_toolbox {
    position: absolute;
    right: 25px;
    top: 3px;
  }
}

.cke_contents {
  padding: 15px 90px 15px 15px !important;
}

.cke_bottom {
  display: none !important;
}

.cke_top, .cke_contents, .cke_bottom {
  overflow: visible !important;
}

.cke_chrome {
  border-color: #ababab !important;
}

.messages-list {
  max-height: 500px;
  .mCSB_draggerRail {
    background-color: transparent !important;
  }
  .mCSB_dragger_bar {
    width: 6px !important;
    height: 100px !important;
    background-color: #5b798a !important;
  }
}

.lisr-dialogs {
  position: relative;
  background-color: #fbfbfb;
  max-height: 800px;
  height: 100%;
  &:before {
    content: '';
    background-color: #fbfbfb;
    width: 2000px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -2000px;
  }
  &:after {
    content: '';
    background: url("../images/scroll-br-line.jpg") repeat-y;
    width: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .mCSB_dragger_bar {
    width: 12px !important;
    height: 150px !important;
    background-color: #5b798a !important;
  }
  .mCSB_container {
    margin-right: 10px !important;
  }
  .mCSB_draggerRail {
    border-radius: 0 !important;
    width: 13px !important;
  }
}

a.cke_button {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
}

.cke_button_icon {
  margin-top: 4px !important;
  margin-right: 5px !important;
  cursor: pointer !important;
  display: block !important;
  background: url("../images/smile.png") no-repeat center !important;
  width: 21px !important;
  height: 21px !important;
}

#block-block-2 {
  padding-top: 25px;
}

#user-login {
  .form-item {
    margin-bottom: 20px;
  }
  .description, label {
    display: none;
  }
}

#user-pass {
  label {
    display: none;
  }
}

.wysiwyg-toggle-wrapper {
  display: none;
}

#communications-form {
  form {
    > div {
      @include flexbox;
      @include justify-content(space-between);
    }
    .field-widget-image-image {
      label {
        display: none;
      }
      &.form-wrapper {
        position: relative;
      }
    }
    .form-actions {
      &.form-wrapper {
        position: relative;
        input {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}

.section-communications {
  .messages {
    display: none !important;
  }
}

.cke_reset {
  &:before {
    content: '';
    position: absolute;
    top: 8px;
    right: 63px;
    background: url("../images/dsf.png") no-repeat center;
    background-size: 100% auto;
    width: 20px;
    height: 20px;
    opacity: .4;
  }
}