$tablet-width: 640px;
$desktop-width: 960px;
$wide-desktop-width: 1200px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin wide {
  @media (min-width: #{$wide-desktop-width}) {
    @content;
  }
}

$main-color1: #FFD034;
$main-color2: #0072BB;
$main-color3: #ff4c3b;

$font-color1: #272626;
$font-color2: #FFF;
$font-family-main: "Calibri Light", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$font-family-secondary: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

$font-size-mobile: 18px;
$font-size-tablet: 20px;
$font-size-desktop: 24px;
$font-size-wide: 27px;

$color-font: #252525;
$color-border: #acacac;
$color-header: #F4F4F4;
$color-button: #8d7a7b;
$color-footer: #f9f9f9;
$color-cart: #936591;
$font-size-base: 16px;
$font-size-title: 2.25em;
$font-family-sub: Noto, Arial, Helvetica, sans-serif;
$font-family-common: Arial, Helvetica, sans-serif;

%clearfix {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
