@import "susy";

$susy: (
        container: 1220px,
        columns: 12,
        gutters: 0,
);

$CalibriLight: "Calibri Light", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$calibri: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

@import "mixin";
@import "flex";
@import "base_2";
@import "communications";
@import "jquery.mCustomScrollbar.min";