

<div class="lnk-actions">
    <div class="dislike"><a href="/change-regard-status/10371/dislike/nojs" class="use-ajax ajax-processed" title="Dislike">Dislike</a></div>
    <div class="neutral"><a href="/change-regard-status/10371/neutral/nojs" class="use-ajax ajax-processed" title="Neutral">Neutral</a></div>
    <div class="like active">Like</div>
</div>

