@import "variables";

@font-face {
  font-family: Calibri;
  src: url(../css/fonts/calibri.ttf);
}

@font-face {
  font-family: "Calibri Light";
  src: url(../css/fonts/calibril.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Calibri Light", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.page-width,
.section__content,
.messages,
.copyright,
.breadcrumb,
.page-title,
#user-profile-form,
.page-user .tabs,
.region-footer {
  padding: 0 3%;
}

@media (min-width: 960px) {
  .page-width,
  .section__content,
  .messages,
  .copyright,
  .breadcrumb,
  .page-title,
  #user-profile-form,
  .page-user .tabs,
  .region-footer {
    padding: 0 12%;
  }
}

.messages {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.krumo-call {
  white-space: normal !important;
  word-break: break-all;
}

.field-label-inline .field-label,
.field-label-inline .field-items {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.field-label-above .field-label {
  margin-bottom: 20px;
}

article.node-page {
  font-size: 30px;
  line-height: 1.6;
  font-family: "Calibri Light", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

article.node-page p {
  margin-bottom: 30px;
}

main {
  margin: 0;
}

.page-title {
  font-size: 36px;
  margin: 30px auto;
}

@media (min-width: 960px) {
  .page-title {
    font-size: 60px;
  }
}

.page-search .page-title {
  color: #272626;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
}

@media (min-width: 960px) {
  .page-search .page-title {
    font-size: 30px;
  }
}

.breadcrumb {
  margin-top: 20px;
}

.breadcrumb__title {
  display: none;
}

.breadcrumb__item {
  list-style: none;
  display: inline-block;
  padding-right: 5px;
}

.breadcrumb__item a {
  text-decoration: none;
  color: #0072BB;
  font-size: 18px;
}

.breadcrumb__item a:hover {
  text-decoration: underline;
}

.profile__label {
  margin-top: 40px;
  font-size: 26px;
}

.user__about-content .field-label {
  font-size: 40px;
}

.header {
  position: relative;
  background-color: #FFD034;
  margin-bottom: -1px;
  &:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #FFD034;
    position: absolute;
    bottom: 0;
  }
}

.header .menu__item {
  display: inline-block;
  list-style: none;
}

.header .header__site-link,
.header .menu__link {
  display: block;
  font-size: 16px;
  line-height: 3;
  color: #272626;
  text-decoration: none;
  transition: 0.2s ease;
}

.header .header__site-link:hover,
.header .menu__link:hover {
  color: #0072BB;
}

.header__site-name {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  display: none;
}

.header__logo {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
  height: 70px;
}

.header__logo img {
  width: auto;
  height: inherit;
}

.region-header {
  display: inline-block;
  vertical-align: middle;
  float: right;
}

.region-navigation {
  background: #0072BB;
}

.region-navigation .menu {
  width: 100%;
  text-align: center;
}

.region-navigation .menu__item {
  display: inline-block;
  list-style: none;
}

.region-navigation .menu__item.active-trail {
  background-color: #ffd034;
}

.region-navigation .menu__item.active-trail a {
  color: #272626;
}

.region-navigation .menu__link {
  display: block;
  padding: 0 5px;
  color: #FFF;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  line-height: 3;
  text-decoration: none;
  transition: 0.2s ease;
}

@media (min-width: 640px) {
  .region-navigation .menu__link {
    padding: 0 25px;
  }
}

@media (min-width: 960px) {
  .region-navigation .menu__link {
    padding: 0 35px !important;
  }
}

@media (min-width: 1200px) {
  .region-navigation .menu__link {
    padding: 0 45px;
    font-size: 16px;
  }
}

.region-navigation .menu__link:hover {
  background: #FFD034;
  color: #272626;
}

.top-banner {
  background-color: #FFD034;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url("../images/banner_m.jpg");
  padding: 40px 30px;
  text-align: right;
}

@media (min-width: 640px) {
  .top-banner {
    padding: 45px 150px;
    background-image: url("../images/banner_t.jpg");
  }
}

@media (min-width: 1200px) {
  .top-banner {
    padding: 65px 240px;
    background-size: cover;
    background-image: url("../images/banner.jpg");
  }
}

#user-login,
#user-pass,
#user-register-form {
  display: inline-block;
  background: rgba(255, 76, 59, 0.7);
  padding: 3% 14%;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;
}

.not-front #user-login, .not-front
#user-pass, .not-front
#user-register-form {
  margin: 20px auto;
  display: block;
}

@media (min-width: 640px) {
  #user-login,
  #user-pass,
  #user-register-form {
    padding: 3% 7%;
  }
}

@media (min-width: 1200px) {
  #user-login,
  #user-pass,
  #user-register-form {
    padding: 2% 4%;
  }
}

#user-login input[type="password"],
#user-login input[type="text"],
#user-pass input[type="password"],
#user-pass input[type="text"],
#user-register-form input[type="password"],
#user-register-form input[type="text"] {
  display: inline-block;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 14px;
  line-height: 3;
  padding: 0 20px;
  margin: 2px 0;
  outline: 0;
}

#user-login .form-type-checkbox, #user-login .tos__link,
#user-pass .form-type-checkbox,
#user-pass .tos__link,
#user-register-form .form-type-checkbox,
#user-register-form .tos__link {
  font-size: 9px;
  margin: 10px 2px;
  display: inline-block;
}

@media (min-width: 640px) {
  #user-login .form-type-checkbox, #user-login .tos__link,
  #user-pass .form-type-checkbox,
  #user-pass .tos__link,
  #user-register-form .form-type-checkbox,
  #user-register-form .tos__link {
    font-size: 12px;
  }
}

@media (min-width: 960px) {
  #user-login .form-type-checkbox, #user-login .tos__link,
  #user-pass .form-type-checkbox,
  #user-register-form .form-type-checkbox {
    font-size: 15px;
  }
}

#user-login .form-type-checkbox input,
#user-login .form-type-checkbox label, #user-login .tos__link input,
#user-login .tos__link label,
#user-pass .form-type-checkbox input,
#user-pass .form-type-checkbox label,
#user-pass .tos__link input,
#user-pass .tos__link label,
#user-register-form .form-type-checkbox input,
#user-register-form .form-type-checkbox label,
#user-register-form .tos__link input,
#user-register-form .tos__link label {
  vertical-align: middle;
  color: #FFF;
}

.register__title {
  color: #FFF;
  font-size: 24px;
  line-height: 2;
}

#user-login .form-submit,
#user-pass .form-submit,
#user-register-form .form-submit,
#user-profile-form #edit-submit,
.s-button {
  display: block;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  color: #FFF;
  line-height: 2.5;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  background-color: #0072BB;
  border: 0;
  border: 1px solid rgba(100, 100, 100, 0.1);
  width: 170px;
  margin: 30px auto;
  box-shadow: 0 0 0 1px gray;
  transition: 0.2s ease;
}

@media (min-width: 640px) {
  #user-login .form-submit,
  #user-pass .form-submit,
  #user-register-form .form-submit,
  #user-profile-form #edit-submit,
  .s-button {
    border-radius: 10px;
    width: 310px;
  }
}

#user-login .form-submit:hover,
#user-pass .form-submit:hover,
#user-register-form .form-submit:hover,
#user-profile-form #edit-submit:hover,
.s-button:hover {
  box-shadow: 0 0 3px 2px #FFD034;
}

#user-register-form .form-submit {
  background: #FFD034;
  color: #272626;
  font-weight: bold;
}

#user-register-form .form-submit:hover {
  box-shadow: 0 0 3px 2px #0072BB;
}

.s-button--fb,
#user-register-form .form-submit {
  width: 100%;
  margin: 15px auto;
}

.s-promo {
  padding: 40px 0 10px;
}

@media (min-width: 1200px) {
  .s-promo {
    padding: 70px 0 40px;
  }
}

.s-promo--hiw, .s-promo--successes {
  background: url("../images/back.png");
}

.s-promo--features {
  background: white;
}

.s-promo__title {
  font-size: 24px;
  line-height: 1;
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
}

@media (min-width: 640px) {
  .s-promo__title {
    font-size: 30px;
  }
}

@media (min-width: 960px) {
  .s-promo__title {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  .s-promo__title {
    font-size: 48px;
  }
}

.s-promo__content {
  display: flex;
  justify-content: space-between;
}

.s-promo__element {
  display: block;
  width: 33.33%;
  text-align: center;
  padding: 5px 10px;
}

@media (min-width: 640px) {
  .s-promo__element {
    padding: 5px 3%;
  }
}

.s-promo--features .s-promo__element {
  padding: 5px;
}

@media (min-width: 640px) {
  .s-promo--features .s-promo__element {
    padding: 5px 15px;
  }
}

.s-promo__element-image {
  padding: 5% 0;
  max-width: 50%;
}

.s-promo--features .s-promo__element-image {
  max-width: 100%;
}

.s-promo__element-title {
  font-size: 18px;
  height: 50px;
  line-height: 1.1;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  .s-promo__element-title {
    font-size: 24px;
  }
}

@media (min-width: 960px) {
  .s-promo__element-title {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .s-promo__element-title {
    font-size: 36px;
  }
}

.s-promo__element-text {
  font-size: 14px;
  line-height: 1.3;
}

@media (min-width: 640px) {
  .s-promo__element-text {
    font-size: 16px;
  }
}

@media (min-width: 960px) {
  .s-promo__element-text {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .s-promo__element-text {
    font-size: 24px;
  }
}

.s-circle {
  background: url("../images/back.png");
  padding: 40px 0 10px;
}

@media (min-width: 1200px) {
  .s-circle {
    padding: 70px 0 40px;
  }
}

.s-circle__content {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 960px) {
  .s-circle__content {
    padding-bottom: 50px;
  }
}

.s-circle__element {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 2px;
  border: 2px solid #fde07f;
  border-radius: 100%;
  color: white;
  width: 50px;
  height: 50px;
}

@media (min-width: 640px) {
  .s-circle__element {
    width: 110px;
    height: 110px;
  }
}

@media (min-width: 960px) {
  .s-circle__element {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 1200px) {
  .s-circle__element {
    width: 170px;
    height: 170px;
  }
}

.s-circle__element--0, .s-circle__element--2, .s-circle__element--4 {
  background-image: url("../images/keyboard.jpg");
}

.s-circle__element--1, .s-circle__element--3 {
  background-image: url("../images/couple-sky.jpg");
}

.s-circle__element::before {
  position: absolute;
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
  background: rgba(255, 0, 0, 0.3);
}

@media (min-width: 640px) {
  .s-circle__element::before {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 960px) {
  .s-circle__element::before {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1200px) {
  .s-circle__element::before {
    width: 115px;
    height: 115px;
  }
}

.s-circle__text {
  z-index: 1;
}

.s-circle__count {
  font-weight: bold;
  font-size: 10px;
}

@media (min-width: 640px) {
  .s-circle__count {
    font-size: 16px;
  }
}

@media (min-width: 960px) {
  .s-circle__count {
    font-size: 30px;
  }
}

.s-circle__label {
  font-size: 6px;
}

@media (min-width: 640px) {
  .s-circle__label {
    font-size: 14px;
  }
}

@media (min-width: 960px) {
  .s-circle__label {
    font-size: 18px;
  }
}

.region-footer {
  background: #0072BB;
}

.region-footer .menu {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3% 10%;
}

@media (min-width: 640px) {
  .region-footer .menu {
    padding: 1% 0;
  }
}

.region-footer .menu__item {
  width: 110px;
  list-style: none;
  text-align: left;
}

@media (min-width: 640px) {
  .region-footer .menu__item {
    width: auto;
  }
}

@media (min-width: 960px) {
  .region-footer .menu__item {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
  }
}

.region-footer .menu__link {
  color: white;
  font-size: 16px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  line-height: 3;
}

.footer-bottom {
  background: #FFD034;
}

.copyright {
  text-align: center;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  line-height: 3;
}

@media (min-width: 640px) {
  .copyright {
    font-size: 20px;
  }
}

@media (min-width: 960px) {
  .copyright {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .copyright {
    font-size: 27px;
  }
}

.view-search .pager-load-more, .view-riders .pager-load-more {
  margin: 15px 0;
  list-style: none;
}

.view-search .pager-load-more a, .view-riders .pager-load-more a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  display: block;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  background-color: #ff4c3b;
  border-radius: 10px;
}

.view-search .wrapper, .view-riders .wrapper {
  overflow: hidden;
  clear: both;
  margin-bottom: 60px;
}

.view-search .images, .view-riders .images {
  float: left;
  width: 160px;
  height: 224px;
  margin: 0 15px 0 0;
  overflow: hidden;
}

.view-search .images .user__picture, .view-riders .images .user__picture {
  max-width: 100%;
}

.view-search .images .user__picture img, .view-riders .images .user__picture img {
  border: 1px solid #ff4c3b;
}

@media (min-width: 640px) {
  .view-search .images, .view-riders .images {
    width: 205px;
    height: 265px;
    margin: 0 20px 0 0;
  }
}

@media (min-width: 1200px) {
  .view-search .images, .view-riders .images {
    width: 317px;
    height: 409px;
    margin: 0 26px 0 0;
  }
}

.view-search .content-wrapper, .view-riders .content-wrapper {
  display: block;
}

@media (min-width: 640px) {
  .view-search .content-wrapper, .view-riders .content-wrapper {
    padding-left: 240px;
  }
}

@media (min-width: 1200px) {
  .view-search .content-wrapper, .view-riders .content-wrapper {
    padding-left: 343px;
  }
}

.view-search .content-wrapper ul, .view-riders .content-wrapper ul {
  font-size: 0;
  line-height: 0;
  height: 0;
  margin-top: 16px;
  margin-left: 35px;
  float: right;
  list-style: none;
}

.view-search .content-wrapper ul li, .view-riders .content-wrapper ul li {
  display: inline-block;
  max-width: 20px;
  overflow: hidden;
  vertical-align: top;
}

@media (min-width: 640px) {
  .view-search .content-wrapper ul li, .view-riders .content-wrapper ul li {
    max-width: 26px;
  }
}

@media (min-width: 960px) {
  .view-search .content-wrapper ul li, .view-riders .content-wrapper ul li {
    max-width: 41px;
  }
}

.view-search .content-wrapper ul li.speech span a, .view-riders .content-wrapper ul li.speech span a {
  text-indent: -6000px;
  background: url("../images/speech-a_m.png") left top no-repeat;
  width: 20px;
  height: 18px;
  display: inline-block;
}

@media (min-width: 640px) {
  .view-search .content-wrapper ul li.speech span a, .view-riders .content-wrapper ul li.speech span a {
    background: url("../images/speech-a_t.png") left top no-repeat;
    width: 26px;
    height: 23px;
  }
}

@media (min-width: 1200px) {
  .view-search .content-wrapper ul li.speech span a, .view-riders .content-wrapper ul li.speech span a {
    background: url("../images/speech-a.png") left top no-repeat;
    width: 41px;
    height: 36px;
  }
}

.view-search .content-wrapper ul li .flag-user-favorites .flag, .view-riders .content-wrapper ul li .flag-user-favorites .flag {
  display: inline-block;
  position: relative;
  text-indent: -6000px;
  padding-left: 0;
  font-size: 22px;
}

.view-search .content-wrapper ul li .flag-user-favorites .flag.flag-action::before, .view-riders .content-wrapper ul li .flag-user-favorites .flag.flag-action::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background: url("../images/heart-n_m.png") left top no-repeat;
  width: 15px;
  height: 14px;
}

@media (min-width: 640px) {
  .view-search .content-wrapper ul li .flag-user-favorites .flag.flag-action::before, .view-riders .content-wrapper ul li .flag-user-favorites .flag.flag-action::before {
    background: url("../images/heart-n_t.png") left top no-repeat;
    width: 21px;
    height: 18px;
  }
}

@media (min-width: 1200px) {
  .view-search .content-wrapper ul li .flag-user-favorites .flag.flag-action::before, .view-riders .content-wrapper ul li .flag-user-favorites .flag.flag-action::before {
    background: url("../images/heart-n.png") left top no-repeat;
    width: 33px;
    height: 29px;
  }
}

.view-search .content-wrapper ul li .flag-user-favorites .flag.unflag-action::before, .view-riders .content-wrapper ul li .flag-user-favorites .flag.unflag-action::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background: url("../images/heart-a_m.png") left top no-repeat;
  width: 15px;
  height: 14px;
}

@media (min-width: 640px) {
  .view-search .content-wrapper ul li .flag-user-favorites .flag.unflag-action::before, .view-riders .content-wrapper ul li .flag-user-favorites .flag.unflag-action::before {
    background: url("../images/heart-a_t.png") left top no-repeat;
    width: 21px;
    height: 18px;
  }
}

@media (min-width: 1200px) {
  .view-search .content-wrapper ul li .flag-user-favorites .flag.unflag-action::before, .view-riders .content-wrapper ul li .flag-user-favorites .flag.unflag-action::before {
    background: url("../images/heart-a.png") left top no-repeat;
    width: 33px;
    height: 29px;
  }
}

.view-search .content-wrapper ul li .flag-users-ignoreds .flag, .view-riders .content-wrapper ul li .flag-users-ignoreds .flag {
  display: inline-block;
  position: relative;
  text-indent: -6000px;
  padding-left: 0;
  font-size: 22px;
}

.view-search .content-wrapper ul li .flag-users-ignoreds .flag.flag-action::before, .view-riders .content-wrapper ul li .flag-users-ignoreds .flag.flag-action::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background: url("../images/bloced_m.png") left top no-repeat;
  width: 16px;
  height: 17px;
}

@media (min-width: 640px) {
  .view-search .content-wrapper ul li .flag-users-ignoreds .flag.flag-action::before, .view-riders .content-wrapper ul li .flag-users-ignoreds .flag.flag-action::before {
    background: url("../images/bloced_t.png") left top no-repeat;
    width: 21px;
    height: 21px;
  }
}

@media (min-width: 1200px) {
  .view-search .content-wrapper ul li .flag-users-ignoreds .flag.flag-action::before, .view-riders .content-wrapper ul li .flag-users-ignoreds .flag.flag-action::before {
    background: url("../images/bloced.png") left top no-repeat;
    width: 33px;
    height: 33px;
  }
}

.view-search .content-header, .view-riders .content-header {
  background-color: #fbfafa;
  color: #272626;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  line-height: 38px;
  padding: 0 10px;
  height: 39px;
  overflow: hidden;
  font-size: 16px;
}

@media (min-width: 640px) {
  .view-search .content-header, .view-riders .content-header {
    font-size: 19px;
    line-height: 48px;
    height: 49px;
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .view-search .content-header, .view-riders .content-header {
    font-size: 30px;
    line-height: 68px;
    height: 69px;
    padding: 0 25px;
  }
}

.view-search .content-about, .view-riders .content-about {
  color: #272626;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  padding: 10px 0;
  height: 183px;
  overflow: hidden;
}

@media (min-width: 640px) {
  .view-search .content-about, .view-riders .content-about {
    font-size: 19px;
    font-weight: 300;
    line-height: 23px;
    padding: 20px 0;
    height: 63px;
  }
}

@media (min-width: 1200px) {
  .view-search .content-about, .view-riders .content-about {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    padding: 40px 0;
    height: 83px;
  }
}

.view-search .content-gender, .view-riders .content-gender {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  background-color: #ffd034;
  padding: 10px;
  height: 68px;
  text-align: center;
  overflow-y: auto;
}

.view-search .content-gender span, .view-riders .content-gender span {
  display: inline-block;
  float: left;
}

@media (min-width: 640px) {
  .view-search .content-gender, .view-riders .content-gender {
    font-size: 19px;
    font-weight: 300;
    line-height: 23px;
    padding: 15px;
    height: 86px;
  }
}

@media (min-width: 1200px) {
  .view-search .content-gender, .view-riders .content-gender {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    padding: 40px;
    height: 90px;
  }
}

.view-search .content-gender a, .view-riders .content-gender a {
  color: #272626;
  text-decoration: none;
}

#edit-field-user-gender-tid-wrapper,
#edit-field-user-genderlook-tid-wrapper {
  display: inline-block;
}

#views-exposed-form-riders-page [type="submit"] {
  color: #272626;
  font-size: 16px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  border: none;
  background-color: transparent;
}

@media (min-width: 640px) {
  #views-exposed-form-riders-page [type="submit"] {
    font-size: 20px;
  }
}

@media (min-width: 960px) {
  #views-exposed-form-riders-page [type="submit"] {
    font-size: 30px;
  }
}

#views-exposed-form-search-page [type="submit"] {
  color: #272626;
  font-size: 16px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  border: none;
  background-color: transparent;
}

@media (min-width: 640px) {
  #views-exposed-form-search-page [type="submit"] {
    font-size: 20px;
  }
}

@media (min-width: 960px) {
  #views-exposed-form-search-page [type="submit"] {
    font-size: 30px;
  }
}

.page-amusements .view-filters .form > span, .page-riders .view-filters .form > span, .page-search .view-filters .form > span {
  display: block;
  color: #272626;
  font-size: 16px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  border-bottom: 1px solid;
  float: left;
}

@media (min-width: 640px) {
  .page-amusements .view-filters .form > span, .page-riders .view-filters .form > span, .page-search .view-filters .form > span {
    font-size: 20px;
  }
}

@media (min-width: 960px) {
  .page-amusements .view-filters .form > span, .page-riders .view-filters .form > span, .page-search .view-filters .form > span {
    font-size: 30px;
  }
}

.page-riders .view-filters [name="type_1"], .page-riders .view-filters [name="field_user_gender_tid"], .page-riders .view-filters [name="field_user_genderlook_tid"], .page-search .view-filters [name="type_1"], .page-search .view-filters [name="field_user_gender_tid"], .page-search .view-filters [name="field_user_genderlook_tid"] {
  font-size: 16px;
}

@media (min-width: 640px) {
  .page-riders .view-filters [name="type_1"], .page-riders .view-filters [name="field_user_gender_tid"], .page-riders .view-filters [name="field_user_genderlook_tid"], .page-search .view-filters [name="type_1"], .page-search .view-filters [name="field_user_gender_tid"], .page-search .view-filters [name="field_user_genderlook_tid"] {
    font-size: 20px;
  }
}

@media (min-width: 960px) {
  .page-riders .view-filters [name="type_1"], .page-riders .view-filters [name="field_user_gender_tid"], .page-riders .view-filters [name="field_user_genderlook_tid"], .page-search .view-filters [name="type_1"], .page-search .view-filters [name="field_user_gender_tid"], .page-search .view-filters [name="field_user_genderlook_tid"] {
    font-size: 30px;
  }
}

.page-amusements .view-filters [name="field_user_gender_tid"],
.page-riders .view-filters [name="field_user_gender_tid"],
.page-search .view-filters [name="field_user_gender_tid"] {
  background: url(../images/a-down.png) no-repeat 138px center;
}

.page-amusements .view-filters [name="field_user_genderlook_tid"],
.page-riders .view-filters [name="field_user_genderlook_tid"],
.page-search .view-filters [name="field_user_genderlook_tid"] {
  background: url(../images/a-down.png) no-repeat 177px center;
}

.view-search .page-title {
  padding: 0;
}

.page-riders .page-title {
  display: none;
}

.view-riders .view-content {
  margin-top: 24px;
}

.user {
  clear: both;
}

.user__setting {
  float: right;
  background: #0072BB;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #FFF;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section--odd {
  background: #fbfbfb;
}

.user__picture {
  vertical-align: top;
  display: block;
  text-align: center;
}

@media (min-width: 640px) {
  .user__picture {
    display: inline-block;
    max-width: 30%;
  }
}

.user__picture a {
  display: inline-block;
}

.user__picture img {
  border: 1px solid #ff4c3b;
  max-width: 100%;
}

.user__name {
  font-size: 36px;
  margin-bottom: 30px;
}

.user__base-info {
  margin-top: 20px;
}

@media (min-width: 640px) {
  .user__base-info {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 69%;
    padding-left: 60px;
  }
}

.user__field, .user .field {
  font-size: 30px;
  line-height: 1.6;
  padding: 5px 0;
}

.user__field-label, .user .field-label {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: normal;
}

.user__field-value, .user .field-items {
  font-family: "Calibri Light", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.user__field-value .field-item, .user .field-items .field-item {
  display: inline-block;
}

.user__field-value .field-item:not(:last-child), .user .field-items .field-item:not(:last-child) {
  margin-right: 5px;
}

.user__field-value .field-item:not(:last-child)::after, .user .field-items .field-item:not(:last-child)::after {
  content: ",";
}

#user-profile-form .form-item {
  padding: 10px 0;
}

#user-profile-form .description {
  font-size: 18px;
}

#user-profile-form label, #user-profile-form legend {
  font-size: 20px;
  font-weight: bold;
}

#user-profile-form label {
  width: 180px;
  display: inline-block;
}

#user-profile-form .confirm-parent, #user-profile-form .password-parent {
  width: auto;
}

#user-profile-form .password-strength, #user-profile-form .password-confirm {
  margin-top: 0;
  width: 12em;
}

#user-profile-form input, #user-profile-form .password-confirm.form-text {
  font-size: 20px;
  width: 300px;
}

#user-profile-form .password-suggestions ul {
  padding-left: 20px;
}

#user-profile-form fieldset, #user-profile-form textarea, #user-profile-form input {
  border: 1px solid #0072BB;
  padding: 10px;
}

#user-profile-form input[type="file"] {
  border: 0;
}

#user-profile-form .field-name-field-user-birthday label {
  width: 70px;
}

#user-profile-form .field-name-field-user-tosdate {
  display: none;
}

#user-profile-form textarea, #user-profile-form fieldset {
  width: 100%;
}

#user-profile-form input[type="radio"], #user-profile-form input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

#user-profile-form .form-type-radios .form-item, #user-profile-form .form-type-checkboxes .form-item {
  display: inline-block;
  vertical-align: top;
}

#user-profile-form .form-type-radios .form-item label, #user-profile-form .form-type-checkboxes .form-item label {
  width: 80px;
}

.tabs {
  text-align: right;
  border-top: 1px solid #0072BB;
}

.tabs--secondary {
  text-align: left;
}

.tabs__tab {
  display: inline-block;
  vertical-align: top;
}

.tabs__tab-link {
  display: block;
  background: #0072BB;
  color: #FFF;
  padding: 5px 10px;
  text-decoration: none;
}

.tabs__tab-link.active, .tabs__tab-link:hover {
  background: #FFD034;
  color: #272626;
}

.flag-user_favorites {
  list-style: none;
}

.flag {
  display: inline-block;
  position: relative;
  padding-left: 80px;
  font-size: 24px;
  line-height: 2;
  text-decoration: none;
  color: #272626;
}

.flag:hover {
  text-decoration: underline;
}

.flag.flag-action::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
}

.flag.unflag-action::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background-image: url(../images/sprite.png);
  background-position: -66px 0px;
  width: 64px;
  height: 64px;
}

.s-social {
  line-height: 0;
  padding: 0 5px;
}

.s-social__link {
  display: inline-block;
  background-image: url(../images/sprite.png);
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  font-size: 0;
  outline: 0;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.s-social__link:hover {
  opacity: 1;
}

.s-social__link--fb {
  background-position: 0px -66px;
}

.s-social__link--tw {
  background-position: -84px -66px;
}

.s-social__link--in {
  background-position: -42px -66px;
}

#return-to-top {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 76, 59, 0.5);
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;
}

#return-to-top::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../images/sprite.png);
  background-position: 0px -108px;
  width: 32px;
  height: 18px;
  left: 0;
  right: 0;
  top: 13px;
  margin: 0 auto;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(255, 76, 59, 0.9);
}

#return-to-top:hover:after {
  top: 10px;
}

#cboxClose {
  background: rgba(255, 76, 59, 0.7);
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  transition: all 0.3s ease;
  outline: 0;
}

#cboxClose::after {
  background-image: url(../images/sprite.png);
  background-position: -132px 0px;
  width: 20px;
  height: 20px;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  margin: 0 auto;
}

#cboxClose:hover {
  background: rgba(255, 76, 59, 0.9);
}

#cboxLoadedContent {
  margin-bottom: 60px;
}

.view-mode-colorbox header h2 a {
  color: #272626;
  text-decoration: none;
  font-size: 24px;
}

.view-mode-colorbox {
  p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px !important;
    a{
      color: #272626;
    }
  }
}

.tos__accept {
  position: absolute;
  padding: 0 10px;
  bottom: 10px;
  left: 44%;
  text-align: center;
  display: block;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  color: #FFF;
  cursor: pointer;
  line-height: 2.5;
  text-decoration: none;
  border-radius: 5px;
  background-color: #0072BB;
  border: 1px solid rgba(100, 100, 100, 0.1);
  box-shadow: 0 0 0 1px gray;
}

.fix {
  position: fixed;
  padding-left: 5%;
  top: 0;
  left: 0;
  right: 0;
}

.header__logo img {
  width: 228px;
  height: auto;
  margin-top: 8px;
  @include tablet {
    width: auto;
    height: inherit;
    margin-top: 0;
  }
}

#block-system-user-menu {
  ul.menu {
    display: inline-block;
    li {
      display: block;
      height: 16px;
    }
    @include tablet {
      li {
        display: inline-block;
        height: auto;
      }
    }
  }
}

.view-search .images .user__picture img,
.view-riders .images .user__picture img {
  width: 160px;
  height: 224px;
  @include tablet {
    width: 205px;
    height: 265px;
  }
  @include wide {
    width: 317px;
    height: 409px;
  }
}

.page-width {
  padding: 0;
  @include tablet {
    padding: 0 3%;
  }
}

.view-search .content-about,
.view-riders .content-about {
  line-height: 16px;
  @include tablet {
    line-height: 36;
  }
}