#cboxClose {
  background: rgba(255, 76, 59, 0.7);
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  transition: all 0.3s ease;
  outline: 0;

  &::after {
    @include sprite($close);
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    margin: 0 auto;
  }

  &:hover {
    background: rgba(255, 76, 59, 0.9);
  }


}

#cboxLoadedContent {
  margin-bottom: 60px;
}

.view-mode-colorbox header h2 a {
  color: $font-color1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.tos__accept {
  position: absolute;
  padding: 0 10px;
  bottom: 10px;
  left: 44%;
  text-align: center;
  display: block;
  font-family: $font-family-secondary;
  font-size: 18px;
  color: $font-color2;
  cursor: pointer;
  line-height: 2.5;
  text-decoration: none;
  border-radius: 5px;
  background-color: $main-color2;
  border: 1px solid rgba(100,100,100,0.1);
  box-shadow: 0 0 0 1px gray;

}

.fix {
  position: fixed;
  padding-left: 5%;
  top: 0;
  left: 0;
  right: 0;
}