#return-to-top {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 76, 59, 0.5);
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;

  &::after {
    content: '';
    display: block;
    position: absolute;
    @include sprite($pointer-top);
    left: 0;
    right: 0;
    top: 13px;
    margin: 0 auto;
    transition: all 0.3s ease;
  }

  &:hover {
    background: rgba(255, 76, 59, 0.9);

    &:after {
      top: 10px;
    }
  }


}
