@font-face {
  font-family: Calibri;
  src: url(fonts/calibri.ttf);
}
@font-face {
  font-family: "Calibri Light";
  src: url(fonts/calibril.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-main;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.page-width,
.section__content,
.region-navigation,
.messages,
.copyright,
.breadcrumb,
.page-title,
#user-profile-form,
.page-user .tabs,
.region-footer {
  //max-width: 1200px;
  //margin: 0 auto;
  padding: 0 3%;
  @include desktop {
    padding: 0 12%;
  }
}

.messages {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0,0,0,0.1);
}

.page {
  //background: url("img/back.png");
}

.krumo-call {
  white-space: normal !important;
  word-break: break-all;
}

.field {

  &-label-inline {
    .field-label,
    .field-items {
      float: none;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-label-above {
    .field-label {
      margin-bottom: 20px;
    }

  }


}

article.node-page {
  font-size: 30px;
  line-height: 1.6;
  font-family: $font-family-main;

  p {
    margin-bottom: 30px;
  }
}

main {
  margin: 0;
}

.page-title {
  font-size: 36px;
  margin: 30px auto;

  @include desktop {
    font-size: 60px;
  }
}

.page-search {
  .page-title  {
    color: #272626;
    font-family: $font-family-secondary;
    font-size: 30px;
    font-weight: 400;
  }
}

.breadcrumb {
  margin-top: 20px;

}

.breadcrumb__title {
  display: none;
}

.breadcrumb__item {
  list-style: none;
  display: inline-block;
  padding-right: 5px;
  a {
    text-decoration: none;
    color: $main-color2;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.profile__label {
  margin-top: 40px;
  font-size: 26px;
}

.user__about-content .field-label {
  font-size: 40px;
}