.region-footer {
  background: $main-color2;

  .menu {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3% 10%;
    @include tablet {
      padding: 1% 0;
    }
  }

  .menu__item {
    width: 110px;
    list-style: none;
    text-align: left;
    @include tablet {
      width: auto;
    }
    @include desktop {
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
    }
  }

  .menu__link {
    color: white;
    font-size: 16px;
    font-family: $font-family-secondary;
    line-height: 3;
    //@include tablet {
    //  font-size: $font-size-tablet;
    //}
    //@include desktop {
    //  font-size: $font-size-desktop;
    //}
    //@include wide {
    //  font-size: 18px;
    //}
  }
}


.footer-bottom {
  background: $main-color1;
}

.copyright {

  text-align: center;
  font-family: $font-family-secondary;
  font-size: 18px;
  line-height: 3;

  @include tablet {
    font-size: $font-size-tablet;
  }
  @include desktop {
    font-size: $font-size-desktop;
  }
  @include wide {
    font-size: $font-size-wide;
  }
}

