.header {
  background-color: $main-color1;

  .menu__item {
    display: inline-block;
    list-style: none;
  }

  .header__site-link,
  .menu__link {
    display: block;
    font-size: $font-size-mobile;
    line-height: 3;
    color: $font-color1;
    text-decoration: none;
    transition: 0.2s ease;

    @include tablet {
      font-size: $font-size-tablet;
    }
    @include desktop {
      font-size: $font-size-desktop;
    }
    @include wide {
      font-size: $font-size-wide;
    }
    &:hover {
      color: $main-color2;
    }
  }
}

.header__site-name {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  display: none;
}

.header__logo {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
  height: 70px;

  img {
    width: auto;
    height: inherit;
  }
}

.region-header {
  display: inline-block;
  vertical-align: middle;
  float: right;

}



