.region-navigation {
  background: $main-color2;

  .menu {
    text-align: center;
  }

  .menu__item {
    display: inline-block;
    list-style: none;
    &.active-trail {
      background-color: #ffd034;
      a {
        color: #272626;
      }
    }
  }

  .menu__link {
    display: block;
    padding: 0 5px;
    color: $font-color2;
    font-family: $font-family-secondary;
    font-size: 16px;
    line-height: 3;
    text-decoration: none;
    transition: 0.2s ease;

    @include tablet {
      padding: 0 25px;
      font-size: $font-size-tablet;
    }
    @include desktop {
      padding: 0 35px !important;
      font-size: $font-size-desktop;
    }
    @include wide {
      padding: 0 45px;
      font-size: $font-size-wide;
    }

    &:hover {
      background: $main-color1;
      color: $font-color1;
    }
  }
}