#user-login,
#user-pass,
#user-register-form {
  display: inline-block;
  background: rgba(255,76,59,0.7);
  padding: 3% 14%;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;

  .not-front & {
    margin: 20px auto;
    display: block;
  }
  @include tablet {
    padding: 3% 7%;
  }
  @include wide {
    padding: 2% 4%;
  }


  input[type="password"],
  input[type="text"] {
    display: inline-block;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 14px;
    line-height: 3;
    padding: 0 20px;
    margin: 2px 0;
    outline: 0;
  }

  .form-type-checkbox, .tos__link {
    font-size: 9px;
    margin: 10px 2px;
    display: inline-block;


    @include tablet {
      font-size: 12px;
    }
    @include desktop {
      font-size: 15px;
    }

    input,
    label {
      vertical-align: middle;
      color: $font-color2;
    }
  }
}

.register__title {
  color: $font-color2;
  font-size: 24px;
  line-height: 2;
}
