#user-login .form-submit,
#user-pass .form-submit,
#user-register-form .form-submit,
#user-profile-form #edit-submit,
.s-button {
  display: block;
  font-family: $font-family-secondary;
  font-size: 14px;
  color: $font-color2;
  line-height: 2.5;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  background-color: $main-color2;
  border: 0;
  border: 1px solid rgba(100,100,100,0.1);
  width: 170px;
  margin: 30px auto;
  box-shadow: 0 0 0 1px gray;
  transition: 0.2s ease;

  @include tablet {
    border-radius: 10px;
    width: 310px;
    font-size: 16px;
  }
  @include desktop {
    font-size: 20px;
  }
  @include wide {
    font-size: 24px;
  }

  &:hover {
    box-shadow: 0 0 3px 2px $main-color1;
  }
}

#user-register-form .form-submit {
  background: $main-color1;
  color: $font-color1;
  font-weight: bold;
  &:hover {
    box-shadow: 0 0 3px 2px $main-color2;
  }
}

.s-button--fb,
#user-register-form .form-submit {
  width: 100%;
  margin: 15px auto;
}




