.s-circle {
  background: url("img/back.png");
  padding: 40px 0 10px;
  @include wide {
    padding: 70px 0 40px;
  }
}

.s-circle__content {
  display: flex;
  justify-content: space-between;
  @include desktop {
    padding-bottom: 50px;
  }
}

.s-circle__element {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;;
  margin: 2px;
  border: 2px solid #fde07f;
  border-radius: 100%;
  color: white;
  width: 50px;
  height: 50px;

  @include tablet {
    width: 110px;
    height: 110px;
  }
  @include desktop {
    width: 150px;
    height: 150px;
  }
  @include wide {
    width: 170px;
    height: 170px;
  }
  &--0,
  &--2,
  &--4 {
    background-image: url("img/keyboard.jpg");
  }
  &--1,
  &--3 {
    background-image: url("img/couple-sky.jpg");
  }

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.5);
    background: rgba(255,0,0,0.3);

    @include tablet {
      width: 70px;
      height: 70px;
    }
    @include desktop {
      width: 100px;
      height: 100px;
    }
    @include wide {
      width: 115px;
      height: 115px;
    }
  }
}

.s-circle__text {
  z-index: 1;
}

.s-circle__count {
  font-weight: bold;
  font-size: 10px;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 30px;
  }
}

.s-circle__label {
  font-size: 6px;
  @include tablet {
    font-size: 14px;
  }
  @include desktop {
    font-size: 18px;
  }
}
