.s-promo {
  padding: 40px 0 10px;
  @include wide {
    padding: 70px 0 40px;
  }
  &--hiw,
  &--successes {
    background: url("img/back.png");
  }
  &--features {
    background: white;
  }
}
.s-promo__title {
  font-size: 24px;
  line-height: 1;
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
  @include tablet {
    font-size: 30px;
  }
  @include desktop {
    font-size: 36px;
  }
  @include wide {
    font-size: 48px;
  }
}

.s-promo__content {
  display: flex;
  justify-content: space-between;
}

.s-promo__element {
  display: block;
  width: 33.33%;
  text-align: center;
  padding: 5px 10px;
  @include tablet {
    padding: 5px 3%;
  }
  .s-promo--features & {
    padding: 5px;
    @include tablet {
      padding: 5px 15px;
    }
  }
}

.s-promo__element-image {
  padding: 5% 0;
    max-width: 50%;
    .s-promo--features & {
      max-width: 100%;
    }

}

.s-promo__element-title {
  font-size: 18px;
  height: 50px;
  line-height: 1.1;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    font-size: 24px;
  }
  @include desktop {
    font-size: 30px;
  }
  @include wide {
    font-size: 36px;
  }
}

.s-promo__element-text {
  font-size: 14px;
  line-height: 1.3;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 20px;
  }
  @include wide {
    font-size: 24px;
  }
}

