.s-social {
  line-height: 0;
  padding: 0 5px;

  @include wide {

  }
}

.s-social__link {
  display: inline-block;
  background-image: url(img/sprite.png);
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  font-size: 0;
  outline: 0;
  opacity: 0.8;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }

  &--fb {
    @include sprite-position($fb);
  }
  &--tw {
    @include sprite-position($tw);
  }
  &--in {
    @include sprite-position($in);
  }
}

