.view-search, .view-riders {
  .pager-load-more {
    margin: 15px 0;
    list-style: none;
    a {
      padding-top: 5px;
      padding-bottom: 5px;
      color: #fff;
      display: block;
      width: 240px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      text-decoration: none;
      background-color: #ff4c3b;
    }
  }
  .wrapper {
    overflow: hidden;
    clear: both;
    margin-bottom: 60px;
  }
  .images {
    float: left;
    width: 300px;
    margin: 0 40px 0 0;
    .user__picture {
      max-width: 100%;
    }
    @include tablet {
      width: 200px;
      margin: 0 20px 0 0;
    }
  }
  .content-wrapper {
    display: block;
    padding-left: 360px;
    @include tablet {
      padding-left: 240px;
    }
      ul {
      margin-left: 35px;
      float: right;
      list-style: none;
      li {
        display: inline;
        &.speech {
          span {
            a {
              text-indent: -6000px;
              background: url("../images/speech-a.png") left top no-repeat;
              width: 41px;
              height: 36px;
              display: inline-block;
            }
          }
        }
        .flag-user-favorites {
          .flag {
            display: inline-block;
            position: relative;
            text-indent: -6000px;
            padding-left: 0;
            font-size: 22px;
            &.flag-action::before {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              background: url("../images/heart-n.png") left top no-repeat;
              width: 33px;
              height: 29px;
            }
            &.unflag-action::before {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              background: url("../images/heart-a.png") left top no-repeat;
              width: 33px;
              height: 29px;
            }
          }
        }
        .flag-users-ignoreds {
          .flag {
            display: inline-block;
            position: relative;
            text-indent: -6000px;
            padding-left: 0;
            font-size: 22px;
            &.flag-action::before {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              background: url("../images/bloced.png") left top no-repeat;
              width: 33px;
              height: 33px;
            }
          }
        }
      }
    }
  }
  .content-header {
    background-color: #fbfafa;
    color: #272626;
    font-family: $font-family-secondary;
    font-size: 30px;
    line-height: 36px;
    padding: 25px;
    @include tablet {
      font-size: 19px;
      line-height: 23px;
    }
  }
  .content-about {
    color: #272626;
    font-family: $font-family-secondary;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    margin: 40px 0;
    @include tablet {
      font-size: 19px;
      font-weight: 300;
      line-height: 23px;
    }
  }
  .content-gender {
    font-family: $font-family-secondary;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    background-color: #ffd034;
    padding: 40px;
    text-align: center;
    span {
      display: inline-block;
      float: left;
    }
    @include tablet {
      font-size: 19px;
      font-weight: 300;
      line-height: 23px;
    }
    a {
      color: #272626;
      text-decoration: none;
    }
  }
}

#edit-field-user-gender-tid-wrapper,
#edit-field-user-genderlook-tid-wrapper {
  display: inline-block;
}

#views-exposed-form-riders-page [type="submit"] {
  color: #272626;
  font-size: 30px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  border: none;
  background-color: transparent;
}

#views-exposed-form-search-page [type="submit"] {
  color: #272626;
  font-size: 30px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  border: none;
  background-color: transparent;
}

.page-amusements .view-filters [name="field_user_gender_tid"],
.page-riders .view-filters [name="field_user_gender_tid"],
.page-search .view-filters [name="field_user_gender_tid"] {
  background: url(../images/a-down.png) no-repeat 138px center;
}

.page-amusements .view-filters [name="field_user_genderlook_tid"],
.page-riders .view-filters [name="field_user_genderlook_tid"],
.page-search .view-filters [name="field_user_genderlook_tid"] {
  background: url(../images/a-down.png) no-repeat 177px center;
}
