// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$close-name: 'close';
$close-x: 132px;
$close-y: 0px;
$close-offset-x: -132px;
$close-offset-y: 0px;
$close-width: 20px;
$close-height: 20px;
$close-total-width: 152px;
$close-total-height: 126px;
$close-image: 'img/sprite.png';
$close: (132px, 0px, -132px, 0px, 20px, 20px, 152px, 126px, 'img/sprite.png', 'close', );
$fav-add-name: 'fav-add';
$fav-add-x: 0px;
$fav-add-y: 0px;
$fav-add-offset-x: 0px;
$fav-add-offset-y: 0px;
$fav-add-width: 64px;
$fav-add-height: 64px;
$fav-add-total-width: 152px;
$fav-add-total-height: 126px;
$fav-add-image: 'img/sprite.png';
$fav-add: (0px, 0px, 0px, 0px, 64px, 64px, 152px, 126px, 'img/sprite.png', 'fav-add', );
$fav-name: 'fav';
$fav-x: 66px;
$fav-y: 0px;
$fav-offset-x: -66px;
$fav-offset-y: 0px;
$fav-width: 64px;
$fav-height: 64px;
$fav-total-width: 152px;
$fav-total-height: 126px;
$fav-image: 'img/sprite.png';
$fav: (66px, 0px, -66px, 0px, 64px, 64px, 152px, 126px, 'img/sprite.png', 'fav', );
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 66px;
$fb-offset-x: 0px;
$fb-offset-y: -66px;
$fb-width: 40px;
$fb-height: 40px;
$fb-total-width: 152px;
$fb-total-height: 126px;
$fb-image: 'img/sprite.png';
$fb: (0px, 66px, 0px, -66px, 40px, 40px, 152px, 126px, 'img/sprite.png', 'fb', );
$in-name: 'in';
$in-x: 42px;
$in-y: 66px;
$in-offset-x: -42px;
$in-offset-y: -66px;
$in-width: 40px;
$in-height: 40px;
$in-total-width: 152px;
$in-total-height: 126px;
$in-image: 'img/sprite.png';
$in: (42px, 66px, -42px, -66px, 40px, 40px, 152px, 126px, 'img/sprite.png', 'in', );
$pointer-top-name: 'pointer-top';
$pointer-top-x: 0px;
$pointer-top-y: 108px;
$pointer-top-offset-x: 0px;
$pointer-top-offset-y: -108px;
$pointer-top-width: 32px;
$pointer-top-height: 18px;
$pointer-top-total-width: 152px;
$pointer-top-total-height: 126px;
$pointer-top-image: 'img/sprite.png';
$pointer-top: (0px, 108px, 0px, -108px, 32px, 18px, 152px, 126px, 'img/sprite.png', 'pointer-top', );
$tw-name: 'tw';
$tw-x: 84px;
$tw-y: 66px;
$tw-offset-x: -84px;
$tw-offset-y: -66px;
$tw-width: 40px;
$tw-height: 40px;
$tw-total-width: 152px;
$tw-total-height: 126px;
$tw-image: 'img/sprite.png';
$tw: (84px, 66px, -84px, -66px, 40px, 40px, 152px, 126px, 'img/sprite.png', 'tw', );
$spritesheet-width: 152px;
$spritesheet-height: 126px;
$spritesheet-image: 'img/sprite.png';
$spritesheet-sprites: ($close, $fav-add, $fav, $fb, $in, $pointer-top, $tw, );
$spritesheet: (152px, 126px, 'img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
