.tabs {
  text-align: right;
  border-top: 1px solid $main-color2;

  &--secondary {
    text-align: left;
  }
}

.tabs__tab {
  display: inline-block;
  vertical-align: top;
}

.tabs__tab-link {
  display: block;
  background: $main-color2;
  color: $font-color2;
  padding: 5px 10px;
  text-decoration: none;

  &.active,
  &:hover {
    background: $main-color1;
    color: $font-color1;
  }
}

.flag-user_favorites {
  list-style: none;
}

.flag {
  display: inline-block;
  position: relative;
  padding-left: 80px;
  font-size: 24px;
  line-height: 2;
  text-decoration: none;
  color: $font-color1;

  &:hover {
    text-decoration: underline;
  }

  &.flag-action::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    @include sprite($fav-add);
  }
  &.unflag-action::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    @include sprite($fav);
  }
}