.top-banner {
  background-color: $main-color1;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url("img/banner_m.jpg");
  padding: 40px 30px;
  text-align: right;

  @include tablet {
    padding: 45px 150px;
    background-image: url("img/banner_t.jpg");
  }
  @include wide {
    padding: 65px 240px;
    background-size: cover;
    background-image: url("img/banner.jpg");
  }
}